<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lhg.overseasystem.user.mapper.UserMapper">
    <resultMap id="UserResult" type="User">
        <id     property="userId"           column="user_id"      />
        <result property="userUri"          column="user_uri"      />
        <result property="userName"         column="user_name"      />
        <result property="sex"              column="sex"      />
        <result property="telephone"        column="telephone"      />
        <result property="email"            column="email"      />
        <result property="password"         column="password"      />
        <result property="isCertification"  column="is_certification"      />
        <result property="delFlag"          column="del_flag"/>
        <result property="createTime"       column="create_time"/>
        <result property="updateTime"       column="update_time"/>
    </resultMap>

    <sql id="userVo">
        select u.user_id, u.user_uri,u.user_name,u.sex,u.telephone,u.email,u.password,u.is_certification,u.del_flag,u.create_time,u.update_time
        from sys_user u
    </sql>

    <sql id="whereUser">

        <if test="userName != null and userName != ''">
            AND u.user_name like concat('%', #{userName}, '%')
        </if>
        <if test="u.sex!= null and u.sex != ''">
            AND u.sex = #{sex}
        </if>
        <if test="telephone != null and  telephone != ''">
            AND u.telephone = #{telephone}
        </if>
        <if test="email != null and  email != ''">
            AND u.email = #{email}
        </if>
        <if test="password != null and  password != ''">
            AND u.password = #{password}
        </if>
        <if test="delFlag != null and  delFlag != ''">
            AND u.del_flag = #{delFlag}
        </if>
        <if test="isCertification != null and  isCertification  != ''">
            AND u.is_certification = #{isCertification }
        </if>
    </sql>

    <!-- 条件查询用户 -->
    <select id="selectUserList"     resultMap="UserResult">
        <include refid="userVo"></include>
        where
        <include refid="whereUser"></include>
    </select>

    <!-- 新增用户 -->
    <insert id="insertUser" >
        insert into sys_user(
        <if test=" userUri!= null and   userUri!= ''"> user_uri,</if>
        <if test=" userName!= null and  userName != ''"> user_name,</if>
        <if test=" sex!= null and  sex!= ''"> sex,</if>
        <if test=" telephone!= null and telephone != ''">telephone,</if>
        <if test=" email!= null and email != ''"> email,</if>
        <if test=" password!= null and password != ''"> password,</if>
        <if test=" isCertification!= null and  isCertification!= ''"> is_certification,</if>
        del_flag,
        create_time
        )value (
        <if test=" userUri!= null and   userUri!= ''"> #{userUri},</if>
        <if test=" userName!= null and  userName != ''"> #{userName},</if>
        <if test=" sex!= null and  sex!= ''"> #{sex},</if>
        <if test=" telephone!= null and telephone != ''">#{telephone},</if>
        <if test=" email!= null and email != ''"> #{email},</if>
        <if test=" password!= null and password != ''"> #{password},</if>
        <if test=" isCertification!= null and  isCertification!= ''">  #{isCertification},</if>
        '0',
        sysdate()
        )
    </insert>

    <!-- 更新用户 -->
    <update id="updateUser">
        update sys_user
        <set>
            <if test=" userName!= null and  userName != ''"> user_name= #{userName},</if>
            <if test=" sex!= null and  sex!= ''"> sex= #{sex},</if>
            <if test=" telephone!= null and telephone != ''">telephone = #{telephone},</if>
            <if test=" email!= null and email != ''"> email= #{email},</if>
            <if test=" password!= null and password != ''"> password= #{password},</if>
            <if test=" isCertification!= null and  isCertification!= ''"> is_certification= #{isCertification},</if>
            <if test="delFlag != null and  delFlag != ''">del_flag = #{delFag}, </if>
            update_time = sysdate()
        </set>
        where user_id = #{userId}
    </update>

    <!-- 批量删除用户 -->

    <delete id="deleteUsers"   parameterType="Long">
        update sys_user set del_flag = '2' where user_id in
        <foreach collection="array" item="userId" open="(" separator="," close=")">
            #{userId}
        </foreach>
    </delete>

    <!-- 删除用户 -->
    <delete id="deleteUser"   >
        update sys_user set del_flag = '2' where user_id = #{userId}
    </delete>

    <!-- 根据id查找用户 -->
    <select id="selectUserByUserId"     resultMap="UserResult">
        <include refid="userVo"></include>
        where   u.user_id = #{userId}
    </select>


    <!-- 根据userUri查找用户 -->
    <select id="selectUserByUserUri"     resultMap="UserResult">
        <include refid="userVo"></include>
        where   u.user_uri = #{userUri}
    </select>

    <!-- 查询所有用户数 -->
    <select id="selectCountUser">
        select count(1) from sys_user
    </select>
</mapper>